@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }
}

.toggle-btn::before {
  transform: translateY(0) rotate(-45deg);
}

.toggle-btn::after {
  transform: translateY(0) rotate(45deg);
}

.toggle-btn > div {
  background-color: transparent;
  transform: rotate(720deg);
}